html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  overflow-x: hidden;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  $pd-lr: 1.563rem;
  transition: all 0.4s ease;
  &-pd-nav {
    padding: 1.7rem $pd-lr;
    @media (min-width: 64em) {
      padding: 2.5rem $pd-lr;
    }
  }
  &-pd-hero {
    padding: 0 $pd-lr 8rem $pd-lr;
    @media (min-width: 64em) {
      padding-top: 2.5rem;
    }
  }
  &-pd-adv {
    padding: 0 $pd-lr 0.063rem $pd-lr;
    @media (min-width: 64em) {
      padding-bottom: 2rem;
    }
  }
  &-pd-boost {
    padding: 5rem $pd-lr;
    @media (min-width: 64em) {
      padding: 3.5rem $pd-lr;
    }
  }
  &-pd-footer {
    padding: 3.5rem $pd-lr;
    @media (min-width: 64em) {
      padding: 4rem $pd-lr;
    }
  }
}
