@use 'colors' as *;

h1,
h2,
h3 {
  margin: 0;
  color: $verydark-blue;
  line-height: 3rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.625rem;
  @media (min-width: 64em) {
    font-size: 2.5rem;
  }
}
h4 {
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
p {
  color: $grayish-violet;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
